@{
    ViewBag.Title = "Index";
}
<div class="container body-content  full-screen">

    <h2>Welcome to you CMS admin panel</h2>

    @Html.ActionLink("Manage your Blog", "Index", "Blog") <br />
    @Html.ActionLink("Manage your Properties", "Index", "Property")
</div>