<div class="container-fluid body-content back-img">

    <section class="container full-screen">
        <h1 class="margin-top-bottom text-center" id="heading"> Management Services</h1>

        <div class="row margin-bottom-top-twenty see-through">
            <div class="col-sm-3 text-center management-services">
                <h2>Leasing</h2>
            </div>
            <div class="col-sm-9">
                An experienced leasing agent is available to take calls and show rental properties six days a week during normal business hours. Our office is open Monday-Friday from 9am to 5:30pm. Saturday 9am-5pm. We will evaluate your property before marketing time with suggestions to maximize the appeal of your home to potential residents.
            </div>
        </div>

        <div class="row margin-bottom-top-twenty see-through">
            <div class="col-sm-3 col-sm-push-9 text-center management-services">
                <h2>Marketing</h2>
            </div>
            <div class="col-sm-9 col-sm-pull-3">
                Effective marketing is the single most important part in renting your home in a timely manner. We use proven marketing techniques that maximize the exposure of your home to prospective Residents. The internet is now the most powerful media tool in the market today. Reaching Millions of people everyday and giving them convenient, up to date, on demand access to homes in their area 24 hours a day 7 days a week. With family’s busy schedules these days the internet has become a necessity in finding a new place to live, and we recognize that. We put specific emphasis on having a heavy presence on the web, no matter what the cost to us, with no additional cost to you.
            </div>
        </div>

        <div class="row margin-bottom-top-twenty see-through">
            <div class="col-sm-3 text-center management-services">
                <h2>Tenant Screening</h2>
            </div>
            <div class="col-sm-9">
                Due diligence in Tenant Qualification is vital to making sure you receive your rent on time, and expenses to a minimum. We carefully screen each applicant by doing a thorough background check, a Nationwide Unlawful Detainer search, Sexual Offender Search, Full Credit Report, Reference Checks, Employment and Income Verification, and other Inquiries as necessary.
            </div>
        </div>


        <div class="row margin-bottom-top-twenty see-through">
            <div class="col-sm-3 col-sm-push-9 text-center management-services">
                <h2>Property Inspections</h2>
            </div>
            <div class="col-sm-9 col-sm-pull-3">
                We complete an initial inspection at the time the property is placed under our management or when there is a change of Tenant. There are also periodic exterior inspections and an annual interior inspection of all properties as necessary.
            </div>
        </div>
        <br />
    </section>
</div>
