<div class="container body-content">

    <h1>The six steps to sell your property</h1>
    <div>
        <img src="~/Content/Sell Picture.png" class="img-responsive img-block"/>
    </div>

    <h3>Why sell</h3>
    <p>Why do you want to sell your property? Do you intend to simply find a larger property, or do you plan on moving to another neighborhood, school district, city or state? You might think your reasons are obvious, but it would do well to consider the implications of each option for your lifestyle, opportunities, and finances. Being clear about your intentions for selling will make it easier for us to determine the most appropriate option for your specified financial, lifestyle, and real estate goals.</p>

    <h3>What To Look For In An Agent</h3>
    <p>You may opt to sell your property independently. There are many excellent reasons, however, why you should choose us to assist you in this important undertaking. We will ensure that you maximize your opportunities in the current real estate market. With our extensive contact networks that we have developed through the many national and international organizations, of which we are members, as well as our current and past clients, we will employ the most effective marketing and advertising strategies for your property. We will also guide you through the complicated paperwork involved, from the initial agreement to the final documents.

</p>

    <h3>Negotiating The Right Way</h3>
    <p>We take the ethical responsibility of fairly negotiating contractual terms very seriously. It is our job to find a win-win agreement that is beneficial to all parties involved. You may even have to deal with multiple offers before ratifying the one you judge to be the most suitable for you – and as your agents, we will guarantee a thorough and objective assessment of each offer to help you make the right choice.</p>
    <h3>Inspections and Appraisals</h3>
    <p>Most buyers will have the property inspected by a licensed property inspector within the time frame that was agreed upon in the effective contract to purchase. Some buyers will have several different inspectors inspect the property, if they wish to obtain professional opinions from inspectors who specialize in a specific area (eg. roof, HVAC, structure). If the agreement is conditional upon financing, then the property will be appraised by a licensed appraiser to determine the value for the lending institution via third party. This is done so that the lending institution can confirm their investment in your property is accurate. A buyer of a commercial property may also have a complete environmental audit performed and/or soil test, if required by the lending institution.</p>

</div>